body {
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif;
}

.banner-section, .sell-section, .faq-section, .blog-section, .testimonial-section, .footer-section {
    .container-fluid {
        width: 1200px !important;
    }
}

.offer-form-section {
    .container-fluid {
        width: 1000px;
    }
}

@media screen and (max-width: 1220px) {
    .banner-section, .sell-section, .faq-section, .blog-section, .testimonial-section, .offer-form-section, .footer-section {
        .container-fluid {
            width: 95% !important;
        }
    }

    .banner-section {
        .banner-title {
            font-size: 60px !important;
        }
    }

    .sell-section {
        .sell-section-upper {
            .sell-title {
                font-size: 60px !important;
            }
        }
    }

    .testimonial-section {
        .testimonial-upper {
            .client-title {
                font-size: 45px !important;
            }
        }
    }

    .faq-section {
        .offer-text {
            font-size: 60px !important;
        }
    }
    
    .footer-section {
        .footer-top {
            img {
                width: 200px;
                height: 150px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .banner-section {
        padding: 100px 0px !important;
        .banner-title {
            font-size: 40px !important;
        }
    }

    .sell-section {
        .sell-section-upper {
            .sell-title {
                font-size: 40px !important;
            }
        }

        .sell-section-lower {
            .card {
                padding: 10px !important;
            }
        }
    }

    .faq-section {
        .offer-text {
            font-size: 40px !important;
        }
        .faq-right-section {
            .img-section {
                padding: 10px !important;
                button {
                    padding: 10px !important;
                }
            }
        }
    }

    .testimonial-section {
        .testimonial-upper {
            .client-title {
                font-size: 40px !important;
            }
        }

        .testimonial-lower {
            .card {
                padding: 10px !important;
            }
        }
    }

    .offer-form-section {
        padding: 70px 0px !important;
        .offer-title {
            font-size: 40px !important;
        }
        .form-section {
            padding: 15px !important;
            button {
                padding: 10px !important;
            }
        }
    }
}