<template>
    <div class="home-root-section">
        <Header></Header>
        <div class="home-section">
            <Banner ref="banner-section"></Banner>
            <SellSection></SellSection>
            <Faq></Faq>
            <Testimonial></Testimonial>
            <OfferForm></OfferForm>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
    import Header from '../../components/common/Header';
    import Footer from '../../components/common/Footer';
    import Banner from '../../components/home/Banner';
    import Faq from '../../components/home/Faq';
    import SellSection from '../../components/home/SellSection';
    import Testimonial from '../../components/home/Testimonial';
    import OfferForm from '../../components/home/OfferForm';

    import axios from 'axios';

    export default {
        name: 'HomeComponent',
        components: {
            Header,
            Footer,
            Banner,
            Faq,
            SellSection,
            Testimonial,
            OfferForm
        },

        methods: {
            async submitGetAnOfferForm(value) {
                console.log('Send Data: '+ value);
                const response = await fetch(process.env.VUE_APP_API_ENDPOINT_URL, {
                    method: 'POST',
                    body: value,
                });

                response.json().then(data => {
                    this.$router.push({
                        path: '/thank-you'
                    });
                    console.log(data);
                })
                .catch((err) => {
                    console.log(err);
                });
            }
        }
    }
</script>