<template>
    <div class="thank-you-root-section">
        <Header></Header>
        <div class="thank-you-section">
            <Banner></Banner>
            <SellSection></SellSection>
        </div>
        <Footer></Footer>
    </div>
</template>

<script>
    import Header from '../../components/common/Header';
    import Footer from '../../components/common/Footer';
    import Banner from '../../components/home/Banner';
    import SellSection from '../../components/home/SellSection';

    export default {
        name: 'ThankYouComponent',
        components: {
            Header,
            Footer,
            Banner,
            SellSection
        }
    }
</script>