<template>
    <div class="banner-section" :style="{'background-image':`url(${imageUrl})`}">
        <div class="container-fluid">
            <div class="banner-inner-section">
                <div class="row">
                    <div v-if="$router.currentRoute._value.path === '/thank-you'" class="col-12 left-column p-2 pl-4 pr-4">
                        <h1 class="banner-title">THANK YOU!</h1>
                        <h5>
                            We appreciate that you have submitted a form. A member of our team will reach out to you shortly. If you can't wait any longer
                            then click below to call us right away!
                        </h5>
                    </div>

                    <div v-if="$router.currentRoute._value.path !== '/thank-you'" class="col-12 col-sm-12 col-md-8 left-column p-2 pl-4 pr-4">
                        <h1 class="banner-title">Sell Your House Today!</h1>
                        <h5>Serving The Phoenix Area For 10 Years! HSE Buyers Will Get You The Highest Offer For Your House. GIve Us A Call Today Or Fill Out A Form.</h5>
                        <a href="tel:602-833-4452">
                            <button class="btn call-button mt-4" type="button">Call : 602-833-4452</button>
                        </a>
                    </div>
                    
                    <div v-if="$router.currentRoute._value.path !== '/thank-you'" class="col-12 col-sm-12 col-md-4 right-column mt-5 mt-xs-5 mt-sm-5 mt-md-0">
                        <div class="form-section p-4">
                            <form @submit.prevent="onSubmit()">
                                <div class="mb-3">
                                    <label for="name" class="form-label">NAME <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" v-model="client.name" id="name" name="name" placeholder="YOUR NAME" required>
                                </div>

                                <div class="mb-3">
                                    <label for="phone-number" class="form-label">PHONE NUMBER <span class="text-danger">*</span></label>
                                    <input type="tel" class="form-control" v-model="client.phone" id="phone" name="phone-number" placeholder="ENTER YOUR PHONE NUMBER" title="Please enter your phone number in this pattern: (###) ###-####" pattern="[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}" v-mask="'(###) ###-####'" required/>
                                </div>

                                <div class="mb-3">
                                    <label for="property-address" class="form-label">PROPERTY ADDRESS <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" v-model="client.address" id="name" name="property-address" placeholder="YOUR PROPERTY ADDRESS" required>
                                </div>
                                <button class="btn get-offer-btn w-100 mt-2" type="submit">Get An Offer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="banner-below-section mt-4">
                <div class="row">
                    <div class="col-12 col-xs-12 col-sm-12 col-md-4 text-center text-xs-center text-sm-center text-md-start">
                        <div class="content">
                            <span class="icon"><font-awesome-icon icon="file-alt" /></span>
                            <h3 class="mt-4">Provide Info</h3>
                            <p>To get started on selling your house, fill out a form on our website or give us a call to get started!</p>
                        </div>
                    </div>
                    <div class="col-12 col-xs-12 col-sm-12 col-md-4 text-center text-xs-center text-sm-center text-md-start">
                        <div class="content">
                            <span class="icon"><font-awesome-icon icon="dollar-sign" /></span>
                            <h3 class="mt-4">Get An Offer</h3>
                            <p>Once we receive your information, our experts will review it to get you a FAIR offer for your house.</p>
                        </div>    
                    </div>
                    <div class="col-12 col-xs-12 col-sm-12 col-md-4 text-center text-xs-center text-sm-center text-md-start">
                        <div class="content">
                            <span class="icon"><font-awesome-icon icon="home" /></span>
                            <h3 class="mt-4">Prepare To Close</h3>
                            <p>If you accept an offer from us, we will send one of our agents to give you a cash offer for your house!</p>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mask} from 'vue-the-mask';
    export default {
        name: 'OfferFormComponent',
        directives: {mask},
        data () {
            return {
                imageUrl: require('@/assets/images/backgrounds/banner-bg.jpg'),
                client : {
                    name: '',
                    phone: '',
                    address: ''
                }
            }
        },

        methods: {
            onSubmit() {
                this.$parent.submitGetAnOfferForm(this.client);
            }
        }
    }
</script>

<style scoped lang="scss">
    .banner-section {
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        padding: 100px 15px;

        .container-fluid {
            .banner-inner-section {
                color: white;
                padding: 30px;
                background: rgba(14,66,119,.74);
                box-shadow: 0 12px 18px -6px rgb(0 41 99 / 40%);
                .left-column {
                    h5 {
                        font-weight: bold;
                        margin-top: 20px;
                        line-height: 1.8rem;
                    }
                    .banner-title {
                        font-size: 90px;
                        font-weight: bold;
                        text-transform: uppercase;
                    }

                    .call-button {
                        color: white;
                        background-color: #000000;
                        text-align: center;
                        padding: 15px 20px;
                        border-radius: 50px;
                        font-weight: bold;
                    }
                }

                .right-column {
                    .form-section {
                        background: white;
                        label {
                            color: black;
                            font-weight: bold;
                        }

                        .form-control {
                            border-radius: 0px;
                            padding: 10px;
                        }

                        .get-offer-btn {
                            color: white;
                            background-color: #53a5d3;
                            text-align: center;
                            padding: 10px 15px;
                            border-radius: 50px;
                            font-weight: bold;
                        }
                    }
                }
            }

            .banner-below-section {
                background-color: rgba(0,0,0,.74);
                color: white;
                .content {
                    padding: 15px 45px;
                    .icon {
                        font-size: 50px;
                    }
                    p {
                        font-weight: bold;
                        margin-top: 20px;
                    }
                }
            }
        }
    }
</style>