<template>
    <div class="blog-section">
        <div class="container-fluid">
            <div class="row blog-section-inner">
                <div class="col-12 col-xs-12 col-sm-12 col-md-4">
                    <div class="card">
                        <img src="@/assets/images/blogs/blog1.jpg" class="card-img-top" alt="How To Sell Your House In Phoenix In The Spring" height="202" width="100%">
                        <div class="card-body">
                            <h4 class="card-title mt-4">How To Sell Your House In Phoenix In The Spring</h4>
                            <h6 class="mt-4 mb-4">May 6, 2021 | Sell Your House</h6>
                            <p class="card-text">There’s a saying that talks about saving for the rainy day. This suggests that you don’t have to wait till when it is spring before you begin preparing. 
                                Selling your house in Phoenix in the spring is ideal, and it’d be great you make preparations early. During spring,...</p>
                            <a href="#">READ MORE</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xs-12 col-sm-12 col-md-4 mt-3 mt-xs-3 mt-sm-3 mt-md-0">
                    <div class="card">
                        <img src="@/assets/images/blogs/blog2.jpg" class="card-img-top" alt="How To Sell Your House In The Summer In AZ" height="202" width="100%">
                        <div class="card-body">
                            <h4 class="card-title mt-4">HOW TO SELL YOUR HOUSE IN THE SUMMER IN AZ</h4>
                            <h6 class="mt-4 mb-4">May 5, 2021 | Things To Know</h6>
                            <p class="card-text">To effectively sell your house in the summer, your property must stand out amongst other properties available in the listings. 
                                Standing out requires certain skills which will help you position your house, and makes the property attractive to the homebuyers in Phoenix...</p>
                            <a href="#">READ MORE</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xs-12 col-sm-12 col-md-4 mt-3 mt-xs-3 mt-sm-3 mt-md-0">
                    <div class="card">
                        <img src="@/assets/images/blogs/blog3.jpg" class="card-img-top" alt="The Pros and Cons of Homeowners Association" height="202" width="100%">
                        <div class="card-body">
                            <h4 class="card-title mt-4">THE PROS AND CONS OF HOMEOWNERS ASSOCIATION</h4>
                            <h6 class="mt-4 mb-4">May 5, 2021 | Things To Know</h6>
                            <p class="card-text">A Homeowners Association offers many communities the aesthetics and care that it needs. 
                                If you are someone who doesn't want to deal with fixing the outer appearance of your house, then HOA's might be the place for you. Most like governments, a homeowners association...</p>
                            <a href="#">READ MORE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
</script>

<style scoped lang="scss">
    .blog-section {
        padding: 70px 15px;

        .container-fluid {
            .blog-section-inner {
                .card {
                    border: 0px;
                    .card-body {
                        .card-title {
                            text-transform: uppercase;
                        }
                        h6 {
                            color:#53a5d3;
                        }
                        p {
                            color: #666;
                            line-height: 2em;
                            font-weight: 500;
                        }
                        a {
                            font-weight: bold;
                            text-decoration: none;
                            color:#0e4277;
                        }
                    }
                }
            }
        }
    }
</style>