<template>
    <div class="faq-section">
        <div class="container-fluid">
            <div class="row faq-section-upper">
                <div class="col col-sm-12 col-md-6 faq-left-section">
                    <h4 class="mt-3">QUESTIONS ABOUT US?</h4>
                    <h1 class="faq-title mt-3">FAQ’S</h1>

                    <div class="accordion mt-4" id="faqAccordion">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#faq-1" aria-expanded="true" aria-controls="faq-1">
                                    ARE YOU A REAL ESTATE AGENT?
                                </button>
                            </h2>
                            <div id="faq-1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p>No we are not! We are a house buying company. This means that we do not list your house on MLS and we don’t have any real estate agents. 
                                        We only give you an offer for your house and you decided if you want to accept the offer.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item mt-5">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-2" aria-expanded="false" aria-controls="faq-2">
                                    DO YOUR CHARGE A FEE WHEN SELLING?
                                </button>
                            </h2>
                            <div id="faq-2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p>Unlike other house buying companies, we NEVER charge any fees when selling with us. 
                                    This means no commission fees or other fees associated with selling your house, which means more money in your pocket.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item mt-5">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-3" aria-expanded="false" aria-controls="faq-3">
                                    HOW FAST CAN YOU CLOSE MY HOUSE?
                                </button>
                            </h2>
                            <div id="faq-3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p>We can close as fast you want to sell your house with us! 
                                    Typically, if your house little to no issues and you are very communicative, we are able to close within 3 weeks.</p>
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item mt-5">
                            <h2 class="accordion-header" id="headingFour">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#faq-4" aria-expanded="false" aria-controls="faq-4">
                                    WHAT TYPES OF HOUSES DO YOU BUY?
                                </button>
                            </h2>
                            <div id="faq-4" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#faqAccordion">
                                <div class="accordion-body">
                                    <p>We are able to buy anything! We have bought empty lots, duplexes, houses with damages, and houses that are in a bad area. HSE Buyers makes it easy to sell your unwanted house.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-sm-12 col-md-6 faq-right-section">
                    <div class="faq-right-section-inner p-3">
                        <div class="img-section p-5" :style="{'background-image':`url(${imageUrl})`}">
                            <div class="p-3 black-div">
                                <h2>Don’t Worry, We Make Selling Houses Easy!</h2>
                            </div>

                            <div>
                                <h1 class="offer-text">FAIR OFFERS FOR YOUR HOUSE!</h1>
                            </div>

                            <div class="mt-5">
                                <router-link class="nav-link" to="/#offer-section">
                                    <button class="btn offer-btn" type="button">Find Out Your Offer!</button>
                                </router-link>    
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default  {
        name: "SellSectionComponent",
        data () {
            return {
                imageUrl: require('@/assets/images/backgrounds/sell-section-bg-2.jpg'),
            }
        }
    }
</script>

<style scoped lang="scss">
    .faq-section {
        padding: 70px 15px;

        .container-fluid {
            .faq-section-upper {
                h4 {
                    color: #53a5d3;
                }
                p {
                    font-size: 18px;
                    color: rgba(0,0,0,.4);
                    line-height: 1.8em;
                    font-weight: 500;
                }
                .faq-title {
                    font-size: 60px;
                    color: #333;
                    font-weight: bold;
                }

                .faq-left-section {
                    .accordion {
                        .accordion-item {
                            .accordion-button:not(.collapsed)::after {
                                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' class='bi bi-plus-circle-fill' d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z'/%3e%3c/svg%3e");
                            }
                            .accordion-button::after {
                                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' class='bi bi-plus-circle-fill' d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z'/%3e%3c/svg%3e");
                            }    
                            button {
                                padding: 20px;
                                border-radius: 0px;
                                background-color: #53a5d3;
                                font-weight: bold;
                                color: #ffffff;
                            }
                        }
                    }
                }

                .faq-right-section-inner {
                    border-width: 16px;
                    border-color: #fff;
                    box-shadow: 40px 40px 80px -20px rgb(0 0 0 / 30%);

                    .img-section {
                        background-size: cover;
                        background-position: 50%;
                        background-repeat: no-repeat;
                        h1, h2 {
                            color: white;
                        }
                        .offer-text {
                            margin-top: 100px;
                            font-weight: bold;
                            font-size: 50px;
                        }
                        .black-div {
                            background-color: black;
                        }
                    }
                }

                .offer-btn {
                    color: #222;
                    background-color:white;
                    padding: 15px 25px;
                    border-radius: 50px;
                    font-weight: bold;
                }
            }
        }
    }
</style>