<template>
    <div class="offer-form-section" id="offer-section" :style="{'background-image':`url(${imageUrl})`}">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 class="offer-title text-center">GET AN OFFER TODAY!</h1>
                    <div class="form-section p-5 mt-5">
                        <form @submit.prevent="onSubmit()">
                            <div class="row">
                                <div class="col col-12 col-sm-12 col-md-6">
                                    <label for="name" class="form-label">NAME <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="name" v-model="client.name" name="name" placeholder="YOUR NAME" required>
                                </div>
                                <div class="col col-12 col-sm-12 col-md-6 mt-3 mt-xs-3 mt-sm-3 mt-md-0">
                                    <label for="phone-number" class="form-label">PHONE NUMBER <span class="text-danger">*</span></label>
                                    <input type="tel" class="form-control" v-model="client.phone" id="phone" name="phone-number" placeholder="ENTER YOUR PHONE NUMBER" title="Please enter your phone number in this pattern: (###) ###-####" pattern="[(][0-9]{3}[)] [0-9]{3}-[0-9]{4}" v-mask="'(###) ###-####'" required/>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col">
                                    <label for="property-address" class="form-label">PROPERTY ADDRESS <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control" id="name" v-model="client.address" name="property-address" placeholder="YOUR PROPERTY ADDRESS" required>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn  offer-submit-btn mt-3">Get An Offer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mask} from 'vue-the-mask';
    export default {
        name: 'OfferFormComponent',
        directives: {mask},
        data () {
            return {
                imageUrl: require('@/assets/images/backgrounds/footer-bg.jpg'),
                client : {
                    name: '',
                    phone: '',
                    address: ''
                }
            }
        },

        methods: {
            onSubmit() {
                this.$parent.submitGetAnOfferForm(this.client);
            }
        }
    }
</script>

<style scoped lang="scss">
    .offer-form-section {
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        padding: 70px 15px;

        .container-fluid {
            .offer-title {
                font-size: 60px;
                color: white;
                font-weight: bold;
            }

            .form-section {
                background-color: white;

                label {
                    color: black;
                    font-weight: bold;
                }

                .form-control {
                    background-color: #f9f9f9;
                    border-radius: 0px;
                    padding: 10px;
                }

                .offer-submit-btn {
                    background-color: #53a5d3;
                    border-radius: 50px;
                    padding: 13px 30px;
                    color: white;
                    font-weight: bold;
                }
            }
        }
    }
</style>