<template>
    <div class="sell-section" id="service-area" :style="{'background-image':`url(${imageUrl})`}">
        <div class="container-fluid">
            <div class="row sell-section-upper">
                <div class="col-12 col-xs-12 col-sm-12 col-md-6">
                    <h4>WHY SELL WITH US?</h4>
                    <h1 class="sell-title">WE ARE THE BEST ARIZONA HOUSE BUYERS!</h1>
                </div>
                <div class="col-12 col-xs-12 col-sm-12 col-md-6">
                    <p>Yes, that’s right! We are the best house buyers in Arizona! With over 20+ years of combined experience in the real estate industry and being from the Phoenix area, 
                        we are highly qualified to give you the best offer for your house!</p>

                    <p>Our three-step process makes it easy for anyone to get an offer from us! If you have any questions about selling your house in Phoenix, give us a call or fill out a form now!</p>
                </div>
            </div>

            <div class="row sell-section-lower mt-5">
                <div class="col-12 col-xs-12 col-sm-12 col-md-4">
                    <div class="card p-5">
                        <div class="card-body">
                            <h1>98%</h1>
                            <h5>CUSTOMER SATISFACTION</h5>
                            <p class="card-text">All of our customers always are very happy to sell with us! We make our customers feel like they are part of the family.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xs-12 col-sm-12 col-md-4 mt-3 mt-xs-3 mt-sm-3 mt-md-0">
                    <div class="card p-5">
                        <div class="card-body">
                            <h1>500+</h1>
                            <h5>OFFERS MADE</h5>
                            <p class="card-text">We have offered the HIGHEST and FAIREST offers to all of our customers who decided to sell their house with us.</p>

                        </div>
                    </div>
                </div>

                <div class="col-12 col-xs-12 col-sm-12 col-md-4 mt-3 mt-xs-3 mt-sm-3 mt-md-0">
                    <div class="card p-5">
                        <div class="card-body">
                            <h1>366</h1>
                            <h5>HOUSES BOUGHT</h5>
                            <p class="card-text">We have purchased houses across The Valley! We always purchase our houses as-in condition! We buy everything!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default  {
        name: "SellSectionComponent",
        data () {
            return {
                imageUrl: require('@/assets/images/backgrounds/sell-section-bg.jpg'),
            }
        }
    }
</script>

<style scoped lang="scss">
    .sell-section {
        background-image: linear-gradient(180deg,#eef1f8 0%,rgba(238,241,248,0) 40%);
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
        padding: 70px 15px;

        .container-fluid {
            .sell-section-upper {
                h4 {
                    color: #53a5d3;
                }
                p {
                    font-size: 18px;
                    color: rgba(0,0,0,.4);
                    line-height: 1.8em;
                    font-weight: 500;
                }
                .sell-title {
                    font-size: 60px;
                    color: #333;
                    font-weight: bold;
                }

                .client-see-button {
                    color: white;
                    background-color: #53a5d3;
                    padding: 15px 25px;
                    border-radius: 50px;
                    font-weight: bold;
                }
            }

            .sell-section-lower {
                .card {
                    border: 2px solid #d7dced;
                    border-radius: 2px;
                    img {
                        border-radius: 50%;
                        border: 1px solid #ccc;
                    }
                    .card-body {
                        h1 {
                            color: #53a5d3;
                            font-size: 70px;
                            font-weight: bold;
                        }
                        h5 {
                            margin-top: 15px;
                            font-size: 18px;
                            font-weight: bold;
                        }
                        p {
                            margin-top: 15px;
                            color: #999;
                            line-height: 1.6em;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
</style>