<template>
    <div class="testimonial-section" id="testimonial-section">
        <div class="container-fluid">
            <div class="row testimonial-upper">
                <div class="col-12 col-xs-12 col-sm-12 col-md-8">
                    <h5>TESTIMONIALS</h5>
                    <h1 class="client-title mt-3">SEE WHAT OTHERS SAY</h1>
                </div>
                <div class="col-12 col-xs-12 col-sm-12 col-md-4 mt-3 mt-xs-3 mt-sm-3 mt-md-0 text-start text-xs-start text-sm-start text-md-end">
                    <router-link class="nav-link" to="/#offer-section">
                        <button type="button" class="btn client-see-button">Sell My Unwanted House</button>
                    </router-link>    
                </div>
            </div>

            <div class="row testimonial-lower mt-5">
                <div class="col-12 col-xs-12 col-sm-12 col-md-4">
                    <div class="card p-5 card-1">
                        <div class="text-center">
                            <img src="@/assets/images/clients/Client1.jpg" width="90" height="90" />
                        </div>
                        
                        <div class="card-body mt-3">
                            <p class="card-text">“I was skeptical when I heard that I could close on my house within 3 weeks for my house. But HSE Buyers made the house selling process extremely fast and I received my cash offer by the third week! They are the fastest house buyers in Arizona!”</p>
                            <p class="client-name mt-5">- Fredrick H.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xs-12 col-sm-12 col-md-4 mt-3 mt-xs-3 mt-sm-3 mt-md-0">
                    <div class="card p-5 card-2">
                        <div class="text-center">
                            <img src="@/assets/images/clients/Client2.jpg" width="90" height="90" />
                        </div>

                        <div class="card-body mt-3">
                            <p class="card-text">“After trying to sell my house for 2 years, I was having no success getting the right deal for my house. HSE Buyers contacted me with an offer that I couldn’t refuse. They were able to give me the money in hand a week after we talked on the phone!”</p>
                            <p class="client-name mt-5">-Tanisha G.</p>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-xs-12 col-sm-12 col-md-4 mt-3 mt-xs-3 mt-sm-3 mt-md-0">
                    <div class="card p-5 card-3">
                        <div class="text-center">
                            <img src="@/assets/images/clients/Client3.jpg" width="90" height="90" />
                        </div>

                        <div class="card-body mt-3">
                            <p class="card-text">“I had recently inherited my house from my parents. The house was in bad condition and I had no use for it. I contacted HSE Buyers to see how much this house was worth. I was shocked with the offer and I immediately accepted the generous offer.”</p>
                            <p class="client-name mt-5">-Jorge Q.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
</script>

<style scoped lang="scss">
    .testimonial-section {
        background-color: #f9f9f9;
        padding: 70px 15px;

        .container-fluid {
            .testimonial-upper {
                h5 {
                    color: #53a5d3;
                }
                .client-title {
                    font-size: 60px;
                    color: #333;
                    font-weight: bold;
                }

                .client-see-button {
                    color: white;
                    background-color: #53a5d3;
                    padding: 15px 25px;
                    border-radius: 50px;
                    font-weight: bold;
                }
            }

            .testimonial-lower {
                .card-1{
                    background-color: #f9f9f9;
                }
                .card-3{
                    background-color: #53a5d3;
                }

                .card {
                    border: 2px solid #d7dced;
                    border-radius: 2px;
                    img {
                        border-radius: 50%;
                        border: 1px solid #ccc;
                    }
                    .card-body {
                        p {
                            color: #777;
                            font-style: italic;
                            font-weight: bold;
                            line-height: 1.6em;
                        }
                    }
                }

                .card-3{
                    background-color: #53a5d3;
                    .card-body {
                        p {
                            color: white;
                        }
                    }
                }
            }
        }
    }
</style>