<template>
    <div class="footer-section">
        <div class="container-fluid">
            <div class="footer-top">
                <div class="row">
                    <div class="col-12 col-xs-12 col-sm-12 col-md-4">
                        <router-link  class="navbar-brand logo" to="/">
                            <img src="@/assets/images/common/logo-white.png" alt="HSE Buyers" width="325" height="250"/>
                        </router-link>
                    </div>
                    <div class="col-12 col-xs-12 col-sm-12 col-md-4 mt-5 mt-xs-5 mt-sm-5 mt-md-0">
                        <h5>QUICK LINKS</h5>
                        <div class="quick-links">
                            <ul>
                                <li>
                                    <router-link to="/">
                                        Home
                                    </router-link>
                                </li>

                                <li>
                                    <router-link to="/#testimonial-section">
                                        Testimonials
                                    </router-link>
                                </li>

                                <li>
                                    <router-link to="/#service-area">
                                        Service Areas
                                    </router-link>
                                </li>
                                <li>
                                    <router-link to="/#offer-section">
                                        Get An Offer
                                    </router-link>
                                 </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-12 col-xs-12 col-sm-12 col-md-4 mt-5 mt-xs-5 mt-sm-5 mt-md-0">
                        <h5>CONTACT US</h5>
                        <ul>
                            <li>
                                <a href="tel:602-833-4452">
                                    602-833-4452
                                </a>
                            </li>

                            <li>
                                <a href="mailto:info@hsebuyers.com">
                                    info@hsebuyers.com
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-bottom mt-5">
                <div class="row">
                    <div class="col">
                        <p class="text-center">
                            Copyright © HSE Buyers All Rights Reserved | View Our <a href="https://hsebuyers.com/privacy-policy/" target="_blank">Privacy Policy</a> | Designed by <a href="https://goldlevelmarketing.com/" target="_blank">Gold Level Marketing</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
</script>

<style lang="scss" scoped>
    .footer-section {
        background-color: black;
        color: white;
        padding: 30px;
        .container-fluid {
            .footer-top {
                h5 {
                    color: #53a5d3;
                    font-weight: bold;
                }
                ul {
                    list-style-type: none;
                    margin: 0px;
                    padding: 0px;
                    li {
                        padding: 10px 0px;
                        font-weight: bold;
                        a {
                            color: white;
                            text-decoration: none ;
                        }
                    }
                }
            }

            .footer-bottom {
                p {
                    font-weight: 600;
                    a {
                        color: white;
                        text-decoration: none ;
                    }
                }
            }
        }
    }
</style>