<template>
    <div class="header-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <nav class="navbar navbar-expand-lg">
                        <router-link class="navbar-brand logo" to="/">
                            <img src="@/assets/images/common/logo.png" alt="HSE Buyers" width="57" height="44"/>
                        </router-link>

                        <!-- <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button> -->
                        <div>
                            <ul class="navbar-nav ms-auto">
                                <!-- <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="#">HOME</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">BLOGS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">TESTIMONIALS</a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="#">SERVICE AREAS</a>
                                </li> -->

                                <li class="nav-item">
                                    <router-link class="nav-link" to="/#offer-section">
                                       <span>GET AN OFFER</span> 
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
</script>

<style scoped lang="scss">
    .header-section {
        padding: 0px 15px;
        .navbar {
            justify-content: space-between !important;
            .logo {
                max-height: 54%;
                vertical-align: middle;
            }
            .navbar-nav {
                li {
                    padding-left: 12px;
                    a {
                        color: #000000;
                        font-weight: bold;
                        font-size: 14px;

                        span {
                            color: #ffffff;
                            background-color:#0e4277;
                            border-radius:50px;
                            padding: 10px 15px;
                        }
                    }
                }
            }
        }
    }
</style>